.gradle
**/build/
!src/**/build/
*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

# Ignore Gradle GUI config
gradle-app.setting
gradlew
gradlew.bat

gradle-wrapper.jar

# Cache of project
.gradletasknamecache